<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speaking Tree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/layout.css" rel="stylesheet" media="screen">
    <link href="assets/css/style.css" rel="stylesheet" media="screen">
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </head>
<body>
												
<body background="assets/images/pat.png">		<!-- custom css -->
<div class="navbar navbar-static-top nbar-10">
	<div class="container">
		 <div style="text-align:center">  <div class="image"><img src="assets/images/logo.png" ></div> </div>
	</div>
</div>
<div class="navbar navbar-static-bottom nbar-2">
	  <img src="assets/images/strip.png" class="img-responsive" > 
</div>


<div class="container">
		<div class="jumbotron jumbo">
					<p><span style="color: #7d7d7d">This new year,</span> get your wishes from master and share<br>with your friends, relatives etc.</p>
		</div>
</div>

<div class="line"></div>
<div class="container">
		<div class="jumbotron jumbo1">
						<p>STEP 1 : Select your favourite master<span style="color: #7d7d7d">, from whom you want a message</span> </p>
		</div>
</div>
<form method="GET" action="display.php" name="form">

<div class="maindiv">

      <div class="deepak"><label><img src="assets/images/deepak.png"> <p>Deepak <br>Chopra</p>
      					<div class="radio oye">
						  
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						  
						</div></label>
      </div>


      <div class="ravi"><label><img src="assets/images/ravi.png"> <p>Sri Sri Ravi <br>Shankar</p>
      					<div class="radio oye">
						  
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						  
						</div></label>
      </div>

      <div class="jaggi"><label><img src="assets/images/jaggi.png"> <p>Sadhguru Jaggi<br>Vasudev</p>
      					<div class="radio oye">
						  
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						 
						</div></label>
      </div>

	<div class="khan"><label><img src="assets/images/khan.png"> <p>Maulana<br>Wahiduddin Khan</p>
      					<div class="radio oye">
						  
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						  
						</div></label>
      </div>

     <div class="swami"><label><img src="assets/images/swami.png"> <p>Radhanath<br>Swami<br></p>
      					<div class="radio oye">
						  
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
						  
						</div></label>
      </div>
  </div>



<div class="container">
		<div class="jumbotron jumbo1">
	<br>STEP 2 : You want your message as a
		</div>
</div>		<!-- 	step 2 ends -->

<div class="maindiv2">

			<div class="cp">
						  	<label>
						    <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">&nbsp;COVER PHOTO
						</label>
						</div>
			
						<div class="ti">
						  	<label>
						    <input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">&nbsp;TIMELINE IMAGE
						</label>
						</div>
					
			


</div>	<!-- 	cover timeline ends -->
			<div style="text-align:center">  
			<button type="button" class="btn btn-success btn-lg" onclick="submit();">SUBMIT</button>
			</div>

</body>
</html>



