<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speaking Tree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/layout.css" rel="stylesheet" media="screen">
    <link href="assets/css/style.css" rel="stylesheet" media="screen">
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </head>
<body background="assets/images/pat.png">   <!-- custom css -->
  
  <div class="navbar navbar-static-top nbar-1">
  
    <div class="major">
                        <div class="like"> <p>LIKE US TO CONTINUE</p>         </div>
                        <div class="imaget"><img src="assets/images/like.png"></div>
    </div>
  
  </div>
  <div class="navbar navbar-static-bottom nbar-22">
  </div>
  <div class="container">
    <div class="jumbotron jumbo">
      <div class="image-logo"><img src="assets/images/logo.png"></div>
      <p><span style="color: #7d7d7d">This new year,</span> get your wishes from master and share<br>with your friends, relatives etc.</p>
    </div>
  </div>
  
  <div class="container">
    <div class="jumbotron jumbo1">
            <p>STEP 1 : Select your favourite master<span style="color: #7d7d7d">, from whom you want a message</span> </p>
    </div>
  </div>
  
  <div class="maindiv">

      <div class="deepak"><img src="assets/images/deepak.png"> <p>Deepak Chopra</p>
      </div>

      <div class="ravi"><img src="assets/images/ravi.png"> <p>Sri Sri Ravi<br> Shankar</p>
      </div>

      <div class="jaggi"><img src="assets/images/jaggi.png"> <p>Sadhguru Jaggi <br>Vasudev</p>
      </div>

      <div class="khan"><img src="assets/images/khan.png"> <p>Maulana Wahid-<br>uddin Khan</p>
      </div>

      <div class="swami"><img src="assets/images/swami.png"> <p>Radhanath Swami</p>
      </div>
  </div>
  
  
</body>
</html>