
.nbar-1
{
	height: 100px;
	background-color: #a5bb41;
	border-bottom: #a5bb41;
	margin-bottom: 0px;
}

.nbar-22
{
	height: 35px;
	background-color: #c2d46f;
}

.bar-2
{
	height: 20px;
	background-color: #a5bb41;
	border-bottom: #a5bb41;
}

.nbar-10
{
	height: 40px;
	border-bottom: #a5bb41;
	margin-bottom: 0px;
}

.col-white
{
	color: green;
} 

.jumbo p 
{
	text-align: center;
	font-weight: bolder;
}

.col-white
{	
	color: green;
}

.jumbo
{
	background: url("");
	padding: 0px;
	text-align: center;
	margin-bottom: 0px;
	border-bottom: 2px solid #dce5b3;
}

.jumbu
{
	background: url("");margin-right: 0%;
	margin-left: 14%;
	margin-bottom: 0px;  	/*to be checked/removed fix : 27/12 3PM*/
	padding: 0px;
}

.jumbo1
{
	background: url("");
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
	padding:0%;

}

.row p
{
	text-align: left;
	font-weight: bolder;

}

.btn-lg
{
	background-color: #96b30f;
	border: 1px solid #96b30f;
	min-width: 20%;
	margin-top: 13px;
}

 .postit
 {
	text-decoration: none ;
	color: white;
	margin-bottom: 5px;
}

.postit:hover, .postit:focus
{
	
	color: white;
	text-decoration: none;
	background-color: #5cb85c;
}

.rad-bullet
{
	text-align: center;
	margin: 0px;
	display: inline-block;
}

.maindiv
{
	
	
	margin-left: 6%;
}

.guru001, .guru005, .guru003
{
	float: left;
	margin-left: 4%;
	text-align: center;
}

.guru004
{
	float: left;
	margin-left: 3%;
	text-align: center;
}


.guru002
{
	float: left;
	margin-left: 5%;
	text-align: center;	
}

.guru001 p
{
	margin: 0px;
}
.guru005 p
{
	margin: 0px;
}
.guru004 p
{
	margin: 0px;
}
.guru003 p
{
	margin: 0px;
}
.guru002 p
{
	margin: 0px;
}

.maindiv2
{
	display: block;
	margin-left: 25%;
	width: 50%;
	height: 30px;
	font-size: 15px;
}

.ti 
{
float: left;

}
.cp 
{
float: right;
}
